<h3>Add Member to Family</h3>
<form #person="ngForm">
    <div class="form-group">
       <label >Family Name</label>-
       <input type="text" class="form-control" name="FamilyName" [(ngModel)]="person.FamilyName">
   </div>
   
   
   <div class="form-group">
       <label>Person Name</label>-
       <input type="text" class="form-control" name="PersonName" [(ngModel)]="person.PersonName">
   </div>
<hr/>
   <button class="button" (click)="addMember(person.value)">Add Member</button>
</form>

<p>{{message}}</p>

   